<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style/base.css">
		<link rel="stylesheet" href="/game/chessboard-1.0.0.min.css">
		<!-- jQuery is a dependency of chessboardjs -->
		<script src="/jquery-3.5.1.min.js"></script>
		<script src="/game/chessboard-1.0.0.min.js"></script>
		<title><%= title %></title>
	</head>
	<body data-color="<%= color %>" data-session-id="<%= session_id %>" data-game-id="<%= game.id %>" data-websocket-server-url="<%= config.websocket_server_url %>">
		<h1><%= title %></h1>
		<p>You are playing.</p>
		<div id="board" style="width: 500px"></div>
		<p class="bold">Connection Status: <span id="connection-status"></span></p>
	</body>
</html>

<script type="module">
	import SocketController from "/controllers/socket_controller.js"
	import GameController from "/controllers/game_controller.js"

	const body = document.querySelector("body");
	const session_id = body.dataset["sessionId"];
	const color = body.dataset["color"];
	const game_id = body.dataset["gameId"];
	const url = body.dataset["websocketServerUrl"];

	const socket_ctrl = new SocketController(url, "#connection-status", session_id);
	const game_ctrl = new GameController(socket_ctrl, "board", color, game_id, true);

	socket_ctrl.Connect();
	socket_ctrl.EnableReconnection();
</script>