<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style/base.css">
		<title><%= title %></title>
	</head>
	<body data-session-id="<%= session_id %>">
		<h1><%= title %></h1>
		<% if (error && error.length) { %>
			<p>An error occurred: <%= error %></p>
		<% } %>
		<p>information:</p>
		<table class="th-left" border="1">
			<tr>
				<th>Username:</th>
				<td><%= username %></td>
			</tr>
			<tr>
				<th>Connection Status:</th>
				<td id="connection-status"></td>
			</tr>
		</table>
		<p>To start a game, click one of the following links.</p>
		<p>
			Play on a
			<a href="#" class="play-game-link" data-color="random">random</a> side, as
			<a href="#" class="play-game-link" data-color="white">white</a>, or as
			<a href="#" class="play-game-link" data-color="black">black</a>
		</p>
		<h2>Games:</h2>
		<table border="1">
			<thead>
				<tr>
					<th>Username</th>
					<th>Game Option</th>
					<th>Date Created</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody id="games"></tbody>
		</table>
		<ul>
			<li><a href="/login">Log in</a></li>
			<li><a href="/logout">Log out</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</body>
</html>

<script type="module">
	import SocketController from "/controllers/socket_controller.js"
	import LobbyController from "/controllers/lobby_controller.js"

	const body = document.querySelector("body");
	const session_id = body.dataset["sessionId"];
	const hostname = window.location.hostname;

	const socket_ctrl = new SocketController(`wss://${hostname}:3030`, "#connection-status", session_id);
	const lobby_ctrl = new LobbyController(socket_ctrl, "#games");

	socket_ctrl.Connect();
	socket_ctrl.EnableReconnection();
</script>